/* HEADER */

.name {
  transition: opacity 0.3s ease;
}

.sentinela {
  position: absolute;
  top: 20px;
  height: 1px;
}

body:has(.sentinela:top) .name {
  opacity: 1;
}

body:not(:has(.sentinela:top)) .name {
  opacity: 0;
  pointer-events: none;
}



header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo img {
  width: 40px;
  height: 40px;
}

/* NAV MENU */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 1.2em;
    line-height: normal;
  }
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: var(--accent-color);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
  align-self: end;
}

#check {
  display: none;
}

.content-box {
  width: 50%;
  /* border: 1px solid red; */
  text-align: justify;
  /* padding-top: 4rem; */
}

.content-box p {
  margin-bottom: 2em;
}

.img-box {
  width: 40%;
  position: relative;

  &.rounded {

    img {
      border-radius: 50%;
    }
  }
}

.img-box img {
  /* width: auto;
  height: 530px; */
  border-radius: 4px;
}

.hero {
  background-image: url("../images/capa-wide.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.hero .img-box img {
  position: absolute;
}

.btn {
  padding: 1em;
  background-color: #fff;
  color: var(--primary-color);
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 2px;
}

.btn:hover {
  background-color: var(--accent-color);
  color: #fff;
  transition: 0.5s;
}

section {
  padding: 220px 0 120px 0;
}

#inicio {
  padding-top: 220px;
}

#inicio .content-box {
  text-align: left;
}

.img-rounded {
  border-radius: 80px;
  overflow: hidden;
}

#sobre .img-box img {
  /* width: auto; */
  width: 100%;
  height: auto;
}

.custom-ul {
  padding: 0;
}

.custom-ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
}

.custom-bullet {
  width: 20px;
  height: 20px;
  background-image: url('../images/mama.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-top: 4px;
}

.list-text {
  flex: 1;
}

#sobre li {
  /* list-style-image: url("../images/breast.png"); */
}

section {
  padding-top: 80px;
}

section h2 {
  text-align: center;
}

#sobre h2 {
  margin-bottom: 1em;
  text-align: left;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  width: 25%;
  min-width: 340px;
  /* flex-grow: 1; */
  flex-shrink: 1;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.card .text-container {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card .text-container strong {
  color: var(--accent-color);
}

.card img {
  /* width: 100%; */
  /* width: 360px;
  height: 270px; */
}

.card p {
  line-height: 25px;
  text-align: justify;
}

/* DEPOIMENTOS */

#depoimentos .card {
  // background-color: var(--accent-color);
  background-color: var(--light-green-color);
  border: 1px dashed var(--accent-color);
  padding: 2em;
  // color: #fff;
}

#depoimentos .testimony-message {
  font-size: 0.8rem;
}

#depoimentos .row {
  gap: 20px;
}

.testimony-box {
  flex-wrap: nowrap;
  padding: 1em 0;
  gap: 10px;
}

.testimony-box .img-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.testimony-box .img-container img {
  width: 100%;
}

.testimony-author {
  flex: 1;
}

.testimony-author strong {
  font-size: 0.8rem;
}

.testimony-author p {
  font-size: 0.8rem;
}

.testimony-author .age {
  color: #323232;
}


/* SERVIÇOS */

#servicos h2,
#servicos strong {
  color: #30503A;
}

#servicos .row {
  gap: 25px;
}

#servicos .card,
#planos .card {
  width: 30%;
  background-color: var(--light-green-color);
  position: relative;
}

#servicos .card strong {
  font-size: 26px;
  text-align: center;
}

.ribbon {
  --f: .5em;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(rgba(0, 0, 0, 0.5333333333) 0 0) 51% / var(--f);
  clip-path: polygon(100% calc(100% - var(--f)), 100% 100%, calc(100% - var(--f)) calc(100% - var(--f)), var(--f) calc(100% - var(--f)), 0 100%, 0 calc(100% - var(--f)), 999px calc(100% - var(--f) - 999px), calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(-29.2893218813%, -100%) rotate(-45deg);
  transform-origin: 100% 100%;
  background-color: var(--primary-color);
}

.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

/* COMO FUNCIONA */

#como-funciona {
  background-color: var(--light-purple-color);
}

#como-funciona .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#como-funciona .small-card {
  border-radius: 40px;
  background-color: var(--light-gray-color);
  flex: 1;
  padding: 2em;
  // display: flex;
  // flex-direction: row;
}

#como-funciona .small-card .icon {
  // border-radius: 20px;
  // background-color: #fff;
  width: 60px;
  height: 60px;
  margin-bottom: 1.5em;
  // padding: 0.5em;
}

#como-funciona .small-card .icon svg {
  color: var(--accent-color);
}

#como-funciona h3 {
  color: #323232;
  font-size: 1.4rem;
  margin-bottom: 1em;
}

#como-funciona p {
  color: #323232;
}

#como-funciona .cta {
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
}

/* AJUDA */

#indicacoes {
  background-color: var(--light-purple-color);
}

#indicacoes .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#indicacoes .small-card {
  border-radius: 20px;
  background-color: var(--light-gray-color);
  flex: 1;
  padding: 1.5em;
}

#indicacoes h3 {
  color: #323232;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

#indicacoes p {
  color: #323232;
}


/* CARTÃO PRESENTE */

#vale-presente {
  background-color: var(--light-purple-color);
}

#instagram-feed {
  width: 100%;
  overflow: hidden;
}

// .gift-card {
//   width: 600px;
//   height: 300px;
//   background: radial-gradient(ellipse farthest-corner at right bottom,
//       #fedb37 0%,
//       #fdb931 8%,
//       #9f7928 30%,
//       #8a6e2f 40%,
//       transparent 80%),
//     radial-gradient(ellipse farthest-corner at left top,
//       #ffffff 0%,
//       #ffffac 8%,
//       #d1b464 25%,
//       #5d4a1f 62.5%,
//       #5d4a1f 100%);
//   border-radius: 20px;
//   padding: 2em;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 2em auto;
// }

.gift-card {
  width: 900px;
  // height: 400px;
  background: #fff;
  border: 2px dashed var(--light-purple-color);
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin: 2em auto;
}

.gift-card .prev {
  font-weight: bold;
  font-size: 0.8rem;
  color: #878787;
}

.gift-card h3 {
  color: #000;
  margin-bottom: 0.8em;
}

.gift-card strong {
  font-size: 2rem;
  color: #000;
  padding-top: 2.2em;
  margin-bottom: 0.5em;
}

.gift-card .row {
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.gift-card svg {
  color: var(--primary-color);
}

.gift-card p {
  font-size: 0.8rem;
  color: #000;
  width: 70%;
  text-align: left;
}

.gift-card .list {
  list-style: none;
  padding: 8px;
  margin-top: 0.8em;
}

.gift-card .list li {
  font-size: 0.8rem;
  color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}

.gift-card .picture {}

.gift-card .container {}


.gift-card .cta {
  font-weight: bold;
  display: flex;
  margin-top: 1em;
  padding: 1em;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  transition: .5s;
  align-self: flex-start;
  border-radius: 20px;
}

.gift-card .cta:hover {
  background-color: var(--light-purple-color);
  color: var(--primary-color);
}

.bottom-explanation {
  // width: 900px;
  display: flex;
  margin: auto;
  padding: 0 10em 0 10em;
}

.bottom-explanation p {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

/* INSTAGRAM */

.eui-widget-title {
  color: var(--accent-color);
  font-size: 3rem;
}

/* CONTATO */

#contato .content-box {
  width: 30%;
  min-width: 300px;
}

#contato a {
  text-decoration: none;
  color: #fff;
}

#contato a:hover {
  color: var(--accent-color);
}

#contato .img-box {
  margin-bottom: 3em;

  &.rounded {
    border-radius: 20px;
  }

  img {
    width: 100%;
  }
}

.fa-envelope,
.fa-phone {
  font-size: 30px;
  color: #fff;
}

.fa-facebook,
.fa-instagram {
  color: #fff;
  font-size: 30px;
}

.link-text {
  margin-left: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-link a {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

#contato li {
  color: #fff;
}

#contato .row .row {
  margin-top: 40px;
  justify-content: space-evenly;
}

#contato .img-box {
  width: 100%;
  text-align: center;
}

/* FOOTER */

footer {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
}

/* WHATSAPP */

.whatsapp {
  display: block;
  background-color: #25d366;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  border-radius: 40px;
  padding: 10px 12px;
  z-index: 2;
}

.whatsapp img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  #inicio .content-box {
    width: 80%;
  }
}


@media screen and (max-width: 900px) {
  #servicos .card {
    width: 100%;
  }

  #planos .text-container {
    width: 100%;
  }

  nav ul li {
    padding: 1em;
  }

  #inicio .content-box {
    width: 80%;
  }

  .gift-card {
    width: 60%;
    // height: 230px;
  }
}

@media screen and (max-width: 768px) {

  h1 {
    line-height: 4rem;
  }

  h1 span {
    width: 90%;
  }

  h2 {
    margin-bottom: 1.5em;
  }

  h2,
  .eui-widget-title {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  #planos h3 {
    margin-bottom: 0.5em;
  }

  .btn {
    background-color: var(--accent-color);
    color: #fff;
    transition: 0.5s;
  }

  #planos h3 {
    font-size: 1.5rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  header {
    padding: 0.5em 0;
    position: static;
  }

  header .row {
    flex-direction: column;
  }

  #logo {
    display: none;
  }


  .hero {
    background-image: url('../images/capa-portrait.webp');
    /* background-image: url('./images/capa-portrait.jpg'); */
    background-size: cover;
    background-position: 90%;
    /* background-position: 22%; */
    /* background-position-y: center;
    background-position-x: center; */
  }

  .checkbtn {
    display: block;
  }


  nav ul {
    flex-direction: column;
    gap: 1px;
    text-align: center;
    display: none;
  }

  #check:checked~nav ul {
    display: block;
  }

  section {
    padding-top: 60px;
  }

  #servicos .card {
    width: 100%;
  }

  #planos .text-container {
    width: 100%;
  }

  .content-box,
  .img-box {
    width: 100%;
  }

  #inicio {
    padding-top: 50px;
  }

  #inicio {
    text-align: center;
  }

  #inicio img {
    margin-top: 20px;
    width: 100%;
    position: static;
  }

  #inicio .content-box {
    /* text-align: center; */
  }

  #sobre h2 {
    margin-top: 20px;
  }


  #indicacoes .row {
    flex-direction: column;
  }

  #contato .content-box {
    width: 100%;
  }

  .gift-card {
    width: 100%;
    // height: 200px;
  }

  .gift-card strong {
    font-size: 1.3rem;
    padding-top: 0;
  }

  .gift-card p {
    font-size: 0.8rem;
    line-height: 1.3em;
    width: 90%;
    /* display: none; */
  }

  .bottom-explanation {
    padding: 0;
  }

  footer p {
    font-size: 0.7rem;
  }


}